
@using BOS.StarterCode.Helpers;

@model dynamic;

@{
    ViewData["Title"] = "Roles";
}

<script type="text/javascript">

        var Model=@JavaScriptConvert.SerializeObject(Model);
        Model.Role =@(JavaScriptConvert.SerializeObject(User.FindFirst(c => c.Type == "Role").Value.ToString()));
        @{
            var UserRole = User.FindFirst(c => c.Type == "Role").Value.ToString();
            var IsuserAllowed = UserRole.Contains("Admin");
         }

</script>

<div class="page-wrapper BOS-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
        <i class="fas fa-bars"></i>
    </a>

    <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
            <div class="sidebar-brand">
                <a href="#">
                    <img src="../images/logo.png" />
                </a>
                <div id="close-sidebar">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <div class="sidebar-header">
                <div class="user-pic">
                    <img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
                         alt="User picture">
                </div>
                <div class="user-info">
                    <strong>@Model.Username</strong>
                    <span class="user-role">@Model.Roles</span>
                    <span class="user-status">
                        <i class="fa fa-circle"></i>
                        <span>Online</span>
                    </span>
                </div>
            </div>
            <div class="sidebar-menu">
                <ul>
                    @foreach (var module in Model.Modules)
                    {
                        @if (module.ChildModules.Count == 0)
                        {
                            <li>
                                <a asp-action="NavigateToModule" asp-route-id="@module.Id" asp-route-code="@module.Code" asp-route-isdefault="@module.IsDefault">
                                    <i class="fa fa-tachometer-alt"></i>
                                    <span>@module.Name</span>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="sidebar-dropdown">
                                <a asp-action="NavigateToModule" asp-route-id="@module.Id" asp-route-code="@module.Code" asp-route-isdefault="@module.IsDefault">
                                    <i class="far fa-user"></i>
                                    <span>@module.Name</span>
                                </a>

                                <div class="sidebar-submenu">
                                    <ul>
                                        @foreach (var submodule in module.ChildModules)
                                        {
                                            <li>
                                                <a asp-action="NavigateToModule" asp-route-id="@module.Id" asp-route-code="@module.Code" asp-route-isdefault="@module.IsDefault">
                                                    @module.Name
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </div>

                            </li>
                        }
                    }
                </ul>
            </div>
            <!-- sidebar-menu  -->
        </div>
        <!-- sidebar-content  -->
        <div class="sidebar-footer">
            <a href="#">
                <i class="fa fa-bell"></i>
                <span class="badge badge-pill badge-warning notification">3</span>
            </a>
            <a href="#">
                <i class="fa fa-envelope"></i>
                <span class="badge badge-pill badge-success notification">7</span>
            </a>
            <a href="#">
                <i class="fa fa-cog"></i>
                <span class="badge-sonar"></span>
            </a>
            <a href="#">
                <i class="fa fa-power-off" onclick="InitiateLogout();"></i>
            </a>
        </div>
    </nav>

    <h1>Users</h1>

    <div class="row" style="color:#97d0bfb5">
        <div class="col-md-4">
            <h4>The users page comes here</h4>
        </div>
    </div>

</div>

<script type="text/javascript">
    $(document).mouseup(function (e) {
        var container = $("#action_div");
        if (!container.is(e.target) && container.has(e.target).length === 0) {
            container.hide();
        }
    });
    $(function () {
        $('#show_action_div').click(function () {
            $('#action_div').show();
            return false;
        });
    });
    $(function () {
        $(".page-wrapper").overlayScrollbars({});
    });
    $(function () {
        $(".table-responsive").overlayScrollbars({});
    });
    jQuery(function ($) {

        $(".sidebar-dropdown > a").click(function () {
            $(".sidebar-submenu").slideUp(200);
            if (
                $(this)
                    .parent()
                    .hasClass("active")
            ) {
                $(".sidebar-dropdown").removeClass("active");
                $(this)
                    .parent()
                    .removeClass("active");
            } else {
                $(".sidebar-dropdown").removeClass("active");
                $(this)
                    .next(".sidebar-submenu")
                    .slideDown(200);
                $(this)
                    .parent()
                    .addClass("active");
            }
        });

        $("#close-sidebar").click(function () {
            $(".page-wrapper").removeClass("toggled");
        });
        $("#show-sidebar").click(function () {
            $(".page-wrapper").addClass("toggled");
        });
    });

    function InitiateLogout() {
        DisplayConfirmationDialog({
            Message: "Are you sure you want to logouxxt?",
            CallFrom: "Logout",
            OkData: { Label: "Yes", Data: null },
            CancelData: { Label: "No", Data: null }
        });
    }

</script>
